{%  extends 'king_admin/table_index.html' %}
{% load tags %}

{% block container %}  
    <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
               <div class="row">
                <form class="" method="get">
                  {% for condtion in admin_class.list_filters %}
                    <div class="col-lg-2">
                    <span>{{ condtion }}</span>
                    {% render_filter_ele condtion admin_class filter_condtions %}
                    </div>

                  {% endfor %}

                    <button type="SUBMIT" class="btn btn-success">检索</button>
                </form>

               </div>

              <table class="table table-hover">
                  <thead>
                    <tr>
                        {% for column in admin_class.list_display %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                  </thead>
                  {{query_sets}}
                  <tbody>
                    {% for obj in query_sets %}
                    <tr>
                        {% build_table_row obj admin_class %}
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>



          <nav>
              <ul class="pagination">
                  {% if query_sets.has_previous %}
                        <li class=""><a href="?page={{ query_sets.previous_page_number }}">上页</a></li>
                  {% endif %}

                  {% for loop_counter in query_sets.paginator.page_range %}
                        {% render_page_ele  loop_counter query_sets filter_condtions%}
                  {% endfor %}

                  {% if query_sets.has_next %}
                        <li class=""><a href="?page={{ query_sets.next_page_number }}">下页</a></li>
                  {% endif %}


              </ul>
          </nav>



          </div>
    </div>
{% endblock %}


