{% extends 'base.html' %}
{% block title %}CRM客户管理系统{% endblock title %}
{% block body%}
 <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PerfectCRM客户管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin/">{{ request.user.username }}</a></li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          	{% for role in request.user.userprofile.roles.all%}
          		{% for menu in role.menus.all %}
            		<li class=""><a href="{% url menu.url_name %}">{{menu.name}}</a></li>
            	{% endfor %}
            {% endfor %}
          </ul>
          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        

          <h2 class="sub-header">{% block right_content %}首页{% endblock right_content%}</h2>
          <div class="table-responsive">
            <table class="table table-striped">
				            
              <thead>
                <tr>
                  <th>#</th>
                </tr>
              </thead>
            
              <tbody>
                
         
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
 

</body>
{% endblock body %}
   
